
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.card{
  height:200;
  width:200*0.7; 
  background-color:"white";
  border-style:"solid";
  border-width:2;
  border-color:"black";
  border-radius: 25;
  text-align: "center";
  user-select: "none";
}
.card:hover{
  background-color: aqua;
}
.cardSmall{
  height:200;
  width:200*0.7; 
  background-color:"red";
  border-style:"solid";
  border-width:2;
  border-color:"black";
  border-radius: 25;
  text-align: "center";
  user-select: "none";
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes blackout {
  from{
      opacity: 0;
  }
  to{
      opacity: 1;
  }
}

@keyframes objectionFormFadeIn {
  from{
      opacity: 0;
      top: 0;
  }
  to{
      opacity: 1;
      top: 100;
  }
}

.gradientText{
  background-image: linear-gradient(-45deg, pink, red, #23A6D5, lime);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
  background-position: 0% 50%
  }
}

.objectionMeterTextNormal{
  color: "goldenrod"
}

.arrowFirst {
  position: absolute;
  border: solid black;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 5px;
  height: 3px;
  width: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.arrowSecond{
  position: absolute;
  border: solid black;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 5px;
  height: 3px;
  width: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-left: 10px;
  z-index: 10;
}

.arrowsDiv{
  position: absolute;
  height: 30px;
  width: 50px;
  animation-name: arrowAnim;
  animation-duration: 0.5s;
  right: 0;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.arrowsDiv:hover{
  cursor:pointer;
}

@keyframes arrowAnim {
from {left:0px;}
to {left:5px;}
}

.volumeSlider{
  width: 10px;
  height: 100px;
  background-color: goldenrod;
  border-style: solid;
  border-color: black;
  border-radius: 3px;
  border-width: 1px;
}
.volumeSlider-thumb{
  width: 40px;
  height: 20px;
  background-color: limegreen;
  left: -15px;
  border-radius: 20px;
  text-align: center;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  font-size: 10px;
}

.volumeSlider-thumb:hover{
  cursor:grab;
  background: linear-gradient(90deg, limegreen, rgb(42, 185, 42));

}

.volumeSlider-track{
  height: 100px;
}

.leaderboardForm{
  position: absolute;
  height: 80vh;
  width: 56.6vh;
  background-color: white;
  z-index: 100000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.leaderboardFormHeading{
  display:flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 5%;
}

.leaderboardFormTextDiv{
  height: 80%;
  width: 100%;
  border-style: solid;
  border-color: green;
  position: absolute;
}
.userSignDiv{
  border-style: solid;
  border-color: black;
  height: 20%;
  width: 100%;
  position: absolute;
  bottom: 0px;
}
.printNameDiv{
  position: absolute; 
  height:30; 
  border-style: solid;
  border-color: gray;
  width: 50%;
  height: 100%;
}

.printNameInput{
  position: absolute; 
  height:30; 
  left:10%;
  top: 17%;
  width: 68%;
  border-top-style:hidden;
  border-left-style:hidden;
  border-right-style:hidden;
  font-family: 'Shadows Into Light', cursive;
  font-size: 25px
}

.printNameInput:focus{
  outline:none
}

.printNameText{
  position: absolute;
  left: 23%;
  top: 50%
}

.signatureDiv{
  position: absolute; 
  height: 100%;
  width:50%;
  right: 0px;
  border-style: solid;
  border-color: green;
}

.signatureText{
  position: absolute;
  right: 30%;
  top: 51%;
}
.signatureLine{
  position: absolute;
  width:68%;
  right:14%;
  top: 57%;
  height: 1.5px;
  color: cyan;
  background-color: gainsboro;
}

.signatureArea{
  height: 57%;
  width: 100%;
  border-style: solid;
  border-color: yellow;
}


