
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

body{
  overflow: hidden;
}
.card{
  height:200;
  width:200*0.7; 
  background-color:"white";
  border-style:"solid";
  border-width:2;
  border-color:"black";
  border-radius: 25;
  text-align: "center";
  user-select: "none";
}
.card:hover{
  background-color: aqua;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes blackout {
  from{
      opacity: 0;
  }
  to{
      opacity: 1;
  }
}

@keyframes objectionFormFadeIn {
  from{
      opacity: 0;
      top: 0px;
  }
  to{
      opacity: 1;
      top: 100px;
  }
}

.gradientText{
  background-image: linear-gradient(-45deg, pink, red, #23A6D5, lime);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
  background-position: 0% 50%
  }
}

.objectionMeterTextNormal{
  color: "goldenrod"
}

.arrowFirst {
  position: absolute;
  border: solid black;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 5px;
  height: 3px;
  width: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.arrowSecond{
  position: absolute;
  border: solid black;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 5px;
  height: 3px;
  width: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-left: 10px;
  z-index: 10;
}

.arrowsDiv{
  position: absolute;
  height: 30px;
  width: 50px;
  animation-name: arrowAnim;
  animation-duration: 0.5s;
  right: 0;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.arrowsDiv:hover{
  cursor:pointer;
}

@keyframes arrowAnim {
from {left:0px;}
to {left:5px;}
}

.volumeSlider{
  width: 10px;
  height: 100px;
  background-color: goldenrod;
  border-style: solid;
  border-color: black;
  border-radius: 3px;
  border-width: 1px;
}
.volumeSlider-thumb{
  width: 40px;
  height: 20px;
  background-color: limegreen;
  left: -15px;
  border-radius: 20px;
  text-align: center;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  font-size: 10px;
}

.volumeSlider-thumb:hover{
  cursor:grab;
  background: linear-gradient(90deg, limegreen, rgb(42, 185, 42));

}

.volumeSlider-track{
  height: 100px;
}

.leaderboardForm{
  position: absolute;
  height: 80vh;
  max-height: 80vh;
  width: 56.6vh;
  background-color: white;
  z-index: 100000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.leaderboardFormTextDiv{
  height: 80%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.leaderboardFormHeading{
  display:flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 5%;
}
.leaderboardFormContent{
  width: 78%;
  display: flex;
  justify-content: center;
  font-size: 6;
  position: relative;
  top: 15%;
  left: 10%;
}
.userSignDiv{
  height: 20%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  bottom: 0px;
}

.printNameDiv{
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
}
.printNameInput{
  width: 70%;
  height: 50%;
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
  font-family: 'Shadows Into Light', cursive;
  font-size: 25px;
}
.printNameInput:focus{
  outline:none
}
.printNameText{
  color: black;
}
.printNameText:hover{
  cursor: default;
}

.signatureDiv{
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
}
.signatureText{
  color: black;
}
.signatureText:hover{
  cursor: default;
}
.signatureLine{
  width:70%;
  height: 2px;
  background-color: gainsboro;
}
.signatureArea{
  height: 100%;
  width: 100%;
}
.leaderboardDiv{
  background-color: whitesmoke;
  overflow-y: scroll;
  width: 80%;
  height: 80%;
  border: solid 1px black;
  position:absolute;
}
.leaderboardList{
  width: 100%;
  height: 100%;
  text-align: center;
}
.leaderboardTableHeading{
  position: relative;
  margin-right: 2000px;
  color: yellow
}
.leaderboardTableRow1{
  background-color: bisque;
  border-style: solid;
  border-color: red
}
.leaderboardTableRow2{
  background-color: white;
  border-style: solid;
  border-color: red
}
.cardDiscardAreaActive{
  width: 30%;
  height: 25%;
  z-index: 100;
  position: absolute;
  display: flex;
  align-content: center;
  justify-content: center;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 80%;
}
.cardDiscardAreaShadowInner{
  position:absolute;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  box-shadow: inset 0px 0px .7rem .7rem rgba(0, 255, 0, 0.818);
  opacity: 60%;
}
.cardDiscardAreaShadowOuter{
  position:absolute;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px .4rem .4rem rgba(0, 255, 0, 0.818);
  opacity: 50%;
}
.leaderBoardBackground{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10001;
  opacity: 0.9;
  background-color: yellow;
  justify-content: center;
}
.leaderboardOverlayBackground{
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  background-color: black;
  justify-content: center;
}
.leaderboardOverlayPhoenixImg{
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  position:absolute;
}
.courtNotStartedMessage{
  border-style: double;
  border-color: #8d6d21;
  height: 60%;
  width: 25%;
  top: 50%;
  left: 50%;
  background-color: white;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 10001;
}
.startCourtButton{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.timeLeftBarDiv{
  position: absolute;
  top: -20px;
  width: 100%;
}
.promptForm{
  position: absolute;
  left: 30%;
  top: 20%;
  width: 40%;
  height: 40%;
  z-index: 99999;
  background-color: white;
  border-style: solid;
  border-color: saddlebrown;
  border-radius: 3;
  animation: objectionFormFadeIn;
  animation-duration: 4s;
  animation-timing-function: linear;
  justify-content: center;
}
.promptFormButton{
  width: 28%;
  height: 100%;
  background-color:red;
  float: right;
}
.objectionBubble{
  position: absolute;
  top: 20%;
  left: 36%;
}
.objectionFormButton{
  width: 28%;
  height: 100%;
  background-color: red;
  float: right;
}
.objectionForm{
  position: absolute;
  left: 30%;
  top: 20%;
  width: 40%;
  height: 40%;
  z-index:99999;
  background-color: white;
  border-style: solid;
  border-color: saddlebrown;
  border-radius: 3;
  animation: objectionFormFadeIn;
  animation-duration: 4s;
  animation-timing-function: linear;
  justify-content: center
}
.blackoutOn{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 2;
  animation: blackout;
  animation-duration: 2s;
  animation-timing-function: linear;
}
.phoenixScore{
  color:blue;
  position: absolute;
  top: 0px;
  left: 30px;
  font-size: 30px;
}
.edgeworthScore{
  color: maroon;
  position: absolute;
  top: 0px;
  right: 50px;
  font-size: 30px
}
.cardRow{
  position: absolute; 
  bottom: 1; 
  left: 18%; 
  z-index: 2;

}
.prosecutionViewDiv{
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: right;
  left:198px;
}
.defenceViewDiv{
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: left;
}
.gavelDiv{
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.judgeView{
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
}
.courtView{
  border-style: double;
  border-color: black;
  border-radius: 5px;
  border-width: 6px;
  background-color:rgba(232, 220, 220, 0.5);
  position: relative;
  z-index: 1000;
  height: 70%;
  width: 80%;
  left: 10%;
}
.mainView{
  border-style: hidden inset hidden outset;
  border-color: gray;
  position: absolute;
  background-color:rgba(232, 220, 220, 0.5);
  z-index: 1;
  height: 70%;
  width: 80%;
  left: 9%;
  min-width: 900
}
.objectionMeter{
  position: absolute;
  border-style: solid;
  background-color: rgba(149, 140, 140, 0.5);
  bottom: -170px;
  left: -40px;
}
.objectionMeter:hover {
  cursor: not-allowed;
}
.objectionMeterFull{
  position: absolute;
  border-style: solid;
  background-color: rgba(149, 140, 140, 0.5);
  bottom: -170px;
  left: -40px;
}
.objectionMeterFull:hover {
  cursor: pointer;
}

/*        DOORS       */ 



.doorsDivVisible{
  position: absolute;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
}
.doorsDivHidden{
  position: absolute;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  z-index: -10000;
}
.staticDoorRight{
  height: 100%;
  width: 50%;
  -webkit-box-shadow:inset 10px 0px 0px 0px #8d6d21;
  -moz-box-shadow:inset 10px 0px 0px 0px #8d6d21;
  box-shadow :inset 10px 0px 0px #8d6d21;
  left: 50%;
  position: relative;
  float: left;
  background-color: #CC9C2F;
}
.staticDoorLeft{
  height: 100%;
  width: 50%;
  -webkit-box-shadow:inset -10px 0px 0px 0px #8d6d21;
  -moz-box-shadow:inset -10px 0px 0px 0px #8d6d21;
  box-shadow :inset -10px 0px 0px #8d6d21;
  background-color: #CC9C2F;
  position: relative;
  float: right;
  right: 50%;
}
.closingDoorRight{
  height: 100%;
  width: 50%;
  -webkit-box-shadow:inset 10px 0px 0px 0px #8d6d21;
  -moz-box-shadow:inset 10px 0px 0px 0px #8d6d21;
  box-shadow :inset 10px 0px 0px #8d6d21;
  left: 100%;
  position: relative;
  float: left;
  background-color: #CC9C2F;
  animation-name: closingRight;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}
.closingDoorLeft{
  height: 100%;
  width: 50%;
  -webkit-box-shadow:inset -10px 0px 0px 0px #8d6d21;
  -moz-box-shadow:inset -10px 0px 0px 0px #8d6d21;
  box-shadow :inset -10px 0px 0px #8d6d21;
  background-color: #CC9C2F;
  position: relative;
  float: right;
  right: 100%;
  animation-name: closingLeft;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}
.openingDoorRight{
  height: 100%;
  width: 50%;
  -webkit-box-shadow:inset 10px 0px 0px 0px #8d6d21;
  -moz-box-shadow:inset 10px 0px 0px 0px #8d6d21;
  box-shadow :inset 10px 0px 0px #8d6d21;
  left: 50%;
  position: relative;
  float: left;
  background-color: #CC9C2F;
  animation-name: openingRight;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}
.openingDoorLeft{
  height: 100%;
  width: 50%;
  -webkit-box-shadow:inset -10px 0px 0px 0px #8d6d21;
  -moz-box-shadow:inset -10px 0px 0px 0px #8d6d21;
  box-shadow :inset -10px 0px 0px #8d6d21;
  background-color: #CC9C2F;
  position: relative;
  float: right;
  right: 50%;
  animation-name: openingLeft;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}
.doorRectangle1Outer{
  width: 60%;
  height: 40%;
  border-style: outset;
  border-width: 5px;
  border-color: #9D7936;
  box-shadow: 3px 5px 3px 3px #9D7936;
  position: absolute;
  border-radius: 2px;
  top: 10%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -10%)
}
.doorRectangleInner{
  width: 80%;
  height: 80%;
  border-style: inset;
  border-width: 5px;
  border-color: #9D7936;
  box-shadow: inset 3px 3px 5px #9D7936;
  position: absolute;
  border-radius: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
.doorRectangle2Outer{
  width: 60%;
  height: 40%;
  border-style: outset;
  border-width: 5px;
  border-color: #9D7936;
  border-radius: 2px;
  box-shadow: 3px 5px 3px 3px #9D7936;
  position: absolute;
  top: 90%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -90%)
}


.fetchingVerdictText{
  -webkit-text-stroke: 1px green;
  font-family: sans;
  color: white;
  font-size: 40px;
  position: absolute;
  left: 30px;
  top: -20px;
  animation: flash 2s linear infinite
  
}


@keyframes closingLeft{
  from {right:100%;}
  to {right:50%}
}
@keyframes closingRight{
  from {left: 100%;}
  to {left: 50%;}
}
@keyframes openingLeft{
  from {right:50%;}
  to {right:100%}
}
@keyframes openingRight{
  from {left:50%;}
  to {left:100%}
}

.verdictLetter{
  visibility: hidden;
  font-size: 180px;
  position: relative;
}
.verdictWord{
  visibility: hidden;
  font-size: 170px;
  position: relative;
  margin-left: 50px;
}
#verdictWordsDiv{
  background-color: antiquewhite;
  position: absolute;
  justify-content: center;
  width: 100%;
  display: flex;
  flex-direction: row;
}
#verdictLettersDiv{
  background-color: antiquewhite;
  width: 100%;
  position: absolute;
  justify-content: center;
  display: flex;
  flex-direction: row;
}
#verdictFrame{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slidingIn{
  animation: slideIn;
  animation-timing-function: linear;
}
.slidingOut{
  animation: slideOut;
}

@keyframes slideIn{
  from{left: 100%}
  to{left: 0px}
}
@keyframes slideOut{
  from{right:0px}
  to{right: 100%}
}

@keyframes flash{
  from {
    opacity:1;
  }
  50% {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

.quote-splash {
  animation: 2s anim-popoutin ease-in-out infinite;
}
@keyframes anim-popoutin {
  0% {
    transform: scale(1) rotate(-20deg);
    opacity: 1;

  }
  25% {
    transform: scale(1.05) rotate(-20deg);
    opacity: 1;
  
  }
  50% {
    transform: scale(1) rotate(-20deg);
    opacity: 1;
  
  }
  100% {
    transform: scale(1) rotate(-20deg);
    opacity: 1;
    
  }
}
@keyframes thump{
  from{
    transform: scale(5);
    -moz-transform: scale(5);
    -webkit-transform: scale(5);
  }
  to{
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
  }
}

